<section>
    <p class="titleAddPayment">
      Adicionar um novo pagamento
    </p>
    <mat-form-field appearance="fill">
        <mat-label>Comanda</mat-label>
        <mat-select #matSelect id="dropDownListCommand" name="dropDownListCommand" [(ngModel)]="paymentModel.commandId" (selectionChange)="changeCommand($event.value)">
          <mat-option [value]="element" *ngFor="let element of dataSourceCommand" >
            {{ element.commandId }} - {{ element.buyerName }}
           </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Forma de pagamento</mat-label>
        <mat-select #matSelect id="dropDownListFormOfPayment" name="dropDownListFormOfPayment" [(ngModel)]="paymentModel.formOfPaymentName" (selectionChange)="changeFormOfPayment($event.value)">
          <mat-option [value]="element" *ngFor="let element of dataSourceFormOfPayment" >
            {{ element.formOfPaymentId }} - {{ element.formOfPaymentName }}
           </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Valor</mat-label>
    <input id="paymentAmount" name="paymentAmount" [(ngModel)]="paymentModel.paymentAmount" matInput />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Tipo de pagamento</mat-label>
        <mat-select [(value)]="selectedPaymentType" [(ngModel)]="paymentModel.paymentType">
          <mat-option value="Total">Total</mat-option>
          <mat-option value="Parcial">Parcial</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="button-toggle-group-out">
        <mat-button-toggle-group class="button-toggle-group" name="menu-button" aria-label="Font Style">
          <mat-button-toggle style="border: none;" value="Voltar">Voltar
            <button mat-raised-button mat-mini-fab matTooltip="Voltar" onblur="changeLoading();" (click)="reply()" color="primary" aria-label="Voltar">
              <mat-icon>reply_all</mat-icon>
            </button>
          </mat-button-toggle>
          <mat-button-toggle style="border: none;" value="Salvar">Salvar
            <button mat-raised-button mat-mini-fab matTooltip="Salvar novo pagamento" onblur="changeLoading();" (click)="save()" color="primary" aria-label="Salvar">
              <mat-icon>save_alt</mat-icon>
            </button>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
  </section>
  