<div class="container">
  <div class="inputs">
<mat-form-field appearance="fill">
  <mat-label>Nome da nova loja</mat-label>
  <input id="storeName" name="storeName" [(ngModel)]="storeModel.storeName" matInput>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Cnpj</mat-label>
  <input id="storeCnpj" name="storeCnpj" [(ngModel)]="storeModel.storeCnpj" matInput mask="00.000.000/0000-00">
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Endereço</mat-label>
  <input id="storeAddress" name="storeAddress" [(ngModel)]="storeModel.storeAddress" matInput>
</mat-form-field>
  </div>
  <section class="example-section">
    <mat-checkbox id="status" name="status" class="example-margin" (change)="onChangeDemo($event)" checked>Status</mat-checkbox>
  </section>
<section>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <div class="example-label">Voltar
          <button mat-raised-button
                mat-mini-fab
                matTooltip="Voltar para a pagina principal."
                (click)="reply()" 
                 color="primary" 
                aria-label="Example icon button with a menu icon">
            <mat-icon>reply_all</mat-icon>
          </button>
        </div>  
      </div>
      <div class="example-button-container">
        <div class="example-label">Salvar
          <button mat-raised-button
                mat-mini-fab
                matTooltip="Salvar o novo perfil."
                (click)="save()" 
                color="primary" 
                aria-label="Example icon button with a menu icon">
            <mat-icon>save_alt</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
</div>