<div class="center">
    <ng-template [ngIf]="isIdZero" [ngIfElse]="isIdGreaterThanZero">
      <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
          <caption>Comanda</caption>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Número da comanda</th>
            <td mat-cell *matCellDef="let element" (click)="listCommandOrdersByIdNumber(element.commandId)">
              {{element.commandId}}
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nome do cliente</th>
            <td mat-cell *matCellDef="let element" (click)="listCommandOrdersByIdNumber(element.commandId)">
              {{element.buyerName}}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
      <section>
        <div class="example-button-row">
          <div class="example-flex-container">
            <div class="example-button-container">
              <div class="example-label headerSearchCommand">
                <div class="labelToCommand">Voltar</div>
                <button mat-raised-button
                      mat-mini-fab
                      matTooltip="Voltar"
                      (click)="reply()" 
                       color="primary" 
                      aria-label="Example icon button with a menu icon">
                  <mat-icon>reply_all</mat-icon>
                </button>
              </div>  
            </div>
            </div>
        </div>
      </section>
      </div>
  </ng-template>

  <ng-template #isIdGreaterThanZero>
    <div style="padding-top: 20px;">
      <h4 class="subHeaderSearchCommand">Número da comanda: {{commandId}} - Nome do cliente: {{buyerName}}</h4>
    </div>
    <table mat-table [dataSource]="dataSourceCommandOrder" class="mat-elevation-z8 demo-table">
      <caption>Comanda</caption>
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef>Produto</th>
        <td mat-cell *matCellDef="let element">
          {{element.productName}}
        </td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Quantidade</th>
        <td mat-cell *matCellDef="let element">
          {{element.amount}}
        </td>
      </ng-container>
      <ng-container matColumnDef="salePrice">
        <th mat-header-cell *matHeaderCellDef>Valor unidade</th>
        <td mat-cell *matCellDef="let element">
          {{element.salePrice}}
        </td>
      </ng-container>
      <ng-container matColumnDef="totalSalePrice">
        <th mat-header-cell *matHeaderCellDef>Valor Total</th>
        <td mat-cell *matCellDef="let element">
          {{element.totalSalePrice}}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsCommandOrder"></tr>
      <tr mat-row (click)="clickedRowsCommandOrder.add(row)" [class.demo-row-is-clicked]="clickedRowsCommandOrder.has(row)" *matRowDef="let row; columns: displayedColumnsCommandOrder;"></tr>
    </table>
    <div style="padding-top: 50px;">
      <h3>Valor total: R$ {{totalCommand}}</h3>
    </div>
    <section>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <div class="example-label headerSearchCommand">
              <div class="labelToCommand">Voltar</div>
              <button mat-raised-button
                    mat-mini-fab
                    matTooltip="Voltar"
                    (click)="reply()" 
                     color="primary" 
                    aria-label="Example icon button with a menu icon">
                <mat-icon>reply_all</mat-icon>
              </button>
            </div>  
          </div>
          </div>
      </div>
    </section>
  </ng-template>
</div>
