<div class="center">
  <ng-template [ngIf]="isIdZero" [ngIfElse]="isIdGreaterThanZero">
    <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        <caption>
          Perfil
        </caption>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;">Nome do perfil</th>
            <td mat-cell (click)="getById(element.profileId)" *matCellDef="let element">
              {{element.profileName}}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
              *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </ng-template>
    <ng-template #isIdGreaterThanZero>
      <mat-card>
        <mat-card-content>Nome do perfil</mat-card-content>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Nome do novo perfil</mat-label>
            <input matInput placeholder="Nome do perfil" id="nameProfile" name="nameProfile" [(ngModel)]="profileModel.profileName" matInput>
          </mat-form-field>
        </form>
      </mat-card>
    </ng-template>
    <div class=" btn-center">
      <section class="back_btn">
        <div class="example-button-row">
          <div class="example-flex-container">
            <div class="example-button-container">
              <div class="example-label headerUpdateCategory">
                <div class="labelToButton">Voltar</div>
                <button mat-raised-button mat-mini-fab matTooltip="Voltar" onblur="changeLoading();"(click)="reply()"
                  color="primary" aria-label="Example icon button with a menu icon">
                  <mat-icon>reply_all</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <section class="update_btn">
        <div class="example-button-row">
          <div class="example-flex-container">
            <div class="example-button-container">
              <div class="example-label headerUpdateCategory">
                <div class="labelToBButton">Atualizar</div>
                <button mat-raised-button mat-mini-fab matTooltip="Atualizar categoria" (click)="update()"
                  color="primary" aria-label="Example icon button with a menu icon">
                  <mat-icon>sync</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  