<section class="center">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <caption></caption>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;">Nome</th>
      <td mat-cell (click)="delete(element.buyerId)" *matCellDef="let element" class="headerDeleteBuyer">
        {{element.buyerName}}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="btn-center">
    <div class="lbl-voltar">Voltar</div>
    <button mat-raised-button
          mat-mini-fab
          matTooltip="Voltar" 
          onblur="changeLoading();"
          (click)="reply()" 
           color="primary" 
          aria-label="Example icon button with a menu icon">
      <mat-icon>reply_all</mat-icon>
    </button>
  </div>
</section>

