<section>
  <div class="command">
    <mat-form-field appearance="fill">
      <mat-label>Nome do cliente</mat-label>
      <mat-select #matSelect id="dropDownListBuyers" name="dropDownListBuyers" (selectionChange)="change($event.value)">
        <mat-option [value]="element" *ngFor="let element of dataSourceBuyer">
          {{ element.buyerName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="example-button-container">
      <button class="save_btn" matTooltip="Salvar o novo perfil." (click)="saveClient()">
        Salvar <mat-icon>save</mat-icon>
      </button>
    </div>
  </div>
  <div class="ordercommand_display" *ngIf="selectValueSelected">
    <div class="contant">
      <h3>Pedidos</h3> <span>Nº: {{ commandId }}</span>
      <div class="order_container">
        <div class="order_row" *ngFor="let order of orders">
          <mat-form-field appearance="fill">
            <mat-label>Produto</mat-label>
            <mat-select #matSelect id="dropDownListProduct" name="dropDownListProduct" [(ngModel)]="order.productName"
              (selectionChange)="changeProduct($event.value)">
              <mat-option [value]="element" *ngFor="let element of dataSourceProducts ">
                {{ element.productName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Quantidade</mat-label>
            <input id="quantity" name="quantity" type="number" matInput [(ngModel)]="order.quantity" />
          </mat-form-field>
        </div>
      </div>

    </div>
    <div class="example-button-container">
      <div class="btns_all">
        <button class="plus_btn" matTooltip="Adicionar um novo produto." (click)="addOrder()">
          +
        </button>
        <button class="save_btn_pedido" matTooltip="Salvar a comanda do cliente." (click)="saveCommand()">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <div class="example-label">
          Voltar
          <button mat-raised-button mat-mini-fab matTooltip="Voltar para a pagina principal." (click)="reply()"
            color="primary" aria-label="Example icon button with a menu icon">
            <mat-icon>reply_all</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>