<section>
  <div style="padding-top: 3 ;">
    <p>
      © 2011, Furlaneti Suporte em Inf. LTDA - CNPJ 14.486.046/0001-77 
      Versão: 1.0.0
    </p>
  </div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <div class="example-label headerAddCategory">
          <div class="labelToButton">Voltar</div>
          <button
            mat-raised-button
            mat-mini-fab
            matTooltip="Voltar"
            (click)="reply()"
            color="primary"
            aria-label="Example icon button with a menu icon"
          >
            <mat-icon>reply_all</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
