.center{
  padding-top: 20vh;
}
.form-field {
  width: 100%;
}
.button-toggle-group-out{
  display: block;
  margin-left: 1vh;
  margin-right: auto;
  width: 50%;
}
.button-toggle-group{
  border: none;
}