<div class="container">
  <p class="titleAddOrder">
    Adicionar um novo pedido
  </p>
  <mat-form-field appearance="fill">
    <mat-label>Comanda</mat-label>
    <mat-select #matSelect id="dropDownListCommand" name="dropDownListCommand" [(ngModel)]="orderModel.buyerName" (selectionChange)="changeCommand($event.value)">
      <mat-option [value]="element" *ngFor="let element of dataSourceCommand" >
        {{ element.commandId }} - {{ element.buyerName }}
       </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Produto</mat-label>
    <mat-select #matSelect id="dropDownListProduct" name="dropDownListProduct" [(ngModel)]="orderModel.productName" (selectionChange)="changeProduct($event.value)">
      <mat-option [value]="element" *ngFor="let element of dataSourceProduct">
        {{ element.productName }}
       </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Valor unitário</mat-label>
    <input type="text" id="salePrice" name="salePrice" matInput [(ngModel)]="orderModel.salePrice"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Quantidade</mat-label>
    <input type="number" id="orderAmount" name="orderAmount" matInput [(ngModel)]="orderModel.amount" (ngModelChange)="calculate()"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Valor total do pedido</mat-label>
    <input type="text" id="TotalSalePrice" name="totalSalePrice" matInput [(ngModel)]="orderModel.totalSalePrice" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',' }"/>
  </mat-form-field>

<section>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <div class="example-label titleAddOrder">
          <div class="labelToButton">Voltar</div>
          <button mat-raised-button
                mat-mini-fab
                matTooltip="Voltar para a pagina principal."
                (click)="reply()" 
                 color="primary" 
                aria-label="Example icon button with a menu icon">
            <mat-icon>reply_all</mat-icon>
          </button>
        </div>  
      </div>
      <div class="example-button-container">
        <div class="example-label titleAddOrder">
          <div class="labelToButton">Salvar</div>
          <button mat-raised-button
                mat-mini-fab
                matTooltip="Salvar o novo perfil."
                (click)="save()" 
                color="primary" 
                aria-label="Example icon button with a menu icon">
            <mat-icon>save_alt</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
</div>