<div class="container">
<input type="hidden" id="userIdModel" name="userIdModel" value="{{orderModel.orderId}}">

<ng-template [ngIf]="isIdZero" [ngIfElse]="isIdGreaterThanZero">
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
      <caption>Pedidos</caption>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Pedidos</th>
        <td mat-cell (click)="getById(element.orderId)" *matCellDef="let element">
          {{element.orderId}}  -  {{element.clientName}}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</ng-template>

<ng-template #isIdGreaterThanZero>
  <div>

    <mat-form-field appearance="fill">
      <mat-label>Novo produto</mat-label>
      <mat-select placeholder="{{orderModel.productName}}" #matSelect id="dropDownListProduct" name="dropDownListProduct" [(ngModel)]="orderModel.productName" (selectionChange)="changeProduct($event.value)" class="productName" >
        <mat-option [value]="element" *ngFor="let element of dataSourceProducts " >
          {{ element.productName }}
         </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nova quantidade</mat-label>
      <input type="number" id="orderAmount" name="orderAmount" [(ngModel)]="orderModel.amount" matInput />
    </mat-form-field>
  </div>
</ng-template>

<div class="btns">
  <section class="back_btn">
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <div class="example-label">Voltar
            <button mat-raised-button mat-mini-fab matTooltip="Voltar para a pagina principal." (click)="reply()"
              color="primary" aria-label="Example icon button with a menu icon">
              <mat-icon>reply_all</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="update_btn">
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <div class="example-label">Atualizar
            <button mat-raised-button mat-mini-fab matTooltip="Atualizar a categoria." (click)="update()"
              color="primary" aria-label="Example icon button with a menu icon">
              <mat-icon>sync</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</div>
