<div class="container">
  <p class="titleUpdateFormOfPayment">
    Atualizar
  </p>
  <ng-template [ngIf]="isIdZero" [ngIfElse]="isIdGreaterThanZero">
    <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="headerUpdateFormOfPayment">Nome</th>
          <td mat-cell (click)="getById(element.formOfPaymentId)" *matCellDef="let element" class="headerUpdateFormOfPayment">
            {{element.formOfPaymentName}}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
          *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </ng-template>

  <ng-template #isIdGreaterThanZero>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nome forma de pagamento:</mat-label>
        <input id="formOfPaymentName" name="formOfPaymentName" [(ngModel)]="formOfPaymentModel.formOfPaymentName"
          matInput />
      </mat-form-field>
    </div>
  </ng-template>
  <div class="btns">
    <section class="back_btn">
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <div class="example-label headerUpdateFormPayment">
              <div class="labelToButton">Voltar</div>
              <button mat-raised-button mat-mini-fab matTooltip="Voltar para a pagina principal." (click)="reply()"
                color="primary" aria-label="Example icon button with a menu icon">
                <mat-icon>reply_all</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="update_btn">
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <div class="example-label headerUpdateFormPayment">
              <div class="labelToButton">Atualizar</div>
              <button mat-raised-button mat-mini-fab matTooltip="Atualizar a categoria." (click)="update()"
                color="primary" aria-label="Example icon button with a menu icon">
                <mat-icon>sync</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>