<div class="container">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">


  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Comandas</th>
    <td mat-cell (click)="delete(element.commandsId)" *matCellDef="let element">
      {{element.buyerName}}
      <input type="hidden" id="commandId" name="commandId" [value]=element.commandId>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<section>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <div class="example-label">Voltar
          <button mat-raised-button
                mat-mini-fab
                matTooltip="Voltar para a pagina principal."
                (click)="reply()" 
                 color="primary" 
                aria-label="Example icon button with a menu icon">
            <mat-icon>reply_all</mat-icon>
          </button>
        </div>  
      </div>
      </div>
  </div>
</section>
</div>

