<img class="logo" src="assets/logo_donne.png" alt="" />
<div style="position: relative">
<mat-tab-group [backgroundColor]="'primary'" [color]="'warn'" style="position: absolute;">
  <mat-tab label="Bar"> 
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <span>
          <mat-icon class="icon">
            {{node.icon}}
          </mat-icon>
        </span>
        <a style="color: white;" routerLink={{node.path}} onclick="changeLoading();" routerLinkActive="mat-accent">
        {{node.item}}</a>
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button mat-icon-button 
                [attr.aria-label]="'Toggle ' + node.item" matTreeNodeToggle>
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.item}}
        <mat-progress-bar *ngIf="node.isLoading"
                          mode="indeterminate"
                          class="example-tree-progress-bar"></mat-progress-bar>
      </mat-tree-node>
    </mat-tree>
  </mat-tab>
  <mat-tab label="Estacionamento"> 
    <mat-tree [dataSource]="dataSourceEstacionamento" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <span>
          <mat-icon class="icon">
            {{node.icon}}
          </mat-icon>
        </span>
        <a style="color: white;" routerLink={{node.path}} routerLinkActive="mat-accent">
        {{node.item}}</a>
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button mat-icon-button
                [attr.aria-label]="'Toggle ' + node.item" matTreeNodeToggle>
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.item}}
        <mat-progress-bar *ngIf="node.isLoading"
                          mode="indeterminate"
                          class="example-tree-progress-bar"></mat-progress-bar>
      </mat-tree-node>
    </mat-tree>
  </mat-tab>
  <mat-tab label="Painel de controle"> 
    <mat-tree [dataSource]="dataSourcePainel" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <span>
          <mat-icon class="icon">
            {{node.icon}}
          </mat-icon>
        </span>
        <a style="color: white;" routerLink={{node.path}} routerLinkActive="mat-accent">
        {{node.item}}</a>
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button mat-icon-button
                [attr.aria-label]="'Toggle ' + node.item" matTreeNodeToggle>
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.item}}
        <mat-progress-bar *ngIf="node.isLoading"
                          mode="indeterminate"
                          class="example-tree-progress-bar"></mat-progress-bar>
      </mat-tree-node>
    </mat-tree>
  </mat-tab>
</mat-tab-group>
</div>