<img class="logofurlaneti" src="assets/logo_donne.png" alt="" />
<button mat-button [matMenuTriggerFor]="menuCaregory" matTooltip="Categoria"> <mat-icon
    class="icon">category</mat-icon><span class="user-type titleMain">
      Categoria
    </span>
  </button>
<mat-menu #menuCaregory="matMenu" class="custom mat-menu">
    <button matTooltip="Adicionar nova categoria" [matTooltipPosition]="'right'"
      (click)="activeCategoryCreate()" mat-menu-item>
      <mat-icon class="add">exposure_plus_1</mat-icon>
      <span class="titleSubMenu">Adicionar</span>
    </button>
    <button matTooltip="Atualizar categoria" [matTooltipPosition]="'right'"
      (click)="activeCategoryUpdate()" mat-menu-item>
      <mat-icon class="update">sync</mat-icon>
      <span class="titleSubMenu">Atualizar</span>
    </button>
    <button matTooltip="Excluir categoria" [matTooltipPosition]="'right'" (click)="activeCategoryDelete()"
      mat-menu-item>
      <mat-icon class="delete">delete_forever</mat-icon>
      <span class="titleSubMenu">Excluir</span>
    </button>
    <button matTooltip="Listar categorias" [matTooltipPosition]="'right'"
      (click)="activeCategoryList()" mat-menu-item>
      <mat-icon class="list">view_headline</mat-icon>
      <span class="titleSubMenu">Listar</span>
    </button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="menuBuyer" matTooltip="Cliente"> <mat-icon class="icon">
    supervisor_account </mat-icon><span class="user-type titleMain">
      Cliente
    </span>
</button>
<mat-menu #menuBuyer="matMenu" class="custom">
  <button matTooltip="Adicionar um novo cliente" [matTooltipPosition]="'right'"
    (click)="activeBuyerCreate()" mat-menu-item>
    <mat-icon class="add">exposure_plus_1</mat-icon>
    <span class="titleMain">Adicionar</span>
  </button>
  <button matTooltip="Atualizar cliente" [matTooltipPosition]="'right'"
    (click)="activeBuyerUpdate()" mat-menu-item>
    <mat-icon class="update">sync</mat-icon>
    <span class="titleMain">Atualizar</span>
  </button>
  <button matTooltip="Excluir cliente" [matTooltipPosition]="'right'"
    (click)="activeBuyerDelete()" mat-menu-item>
    <mat-icon class="delete">delete_forever</mat-icon>
    <span class="titleMain">Excluir</span>
  </button>
  <button matTooltip="Listar clientes" [matTooltipPosition]="'right'"
    (click)="activeBuyerList()" mat-menu-item>
    <mat-icon class="list">view_headline</mat-icon>
    <span class="titleMain">Listar</span>
  </button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="menuCommands" matTooltip="Comanda"> <mat-icon class="icon">
  assignment</mat-icon><span class="user-type titleMain">
    Comanda</span></button>
<mat-menu #menuCommands="matMenu" class="custom">
<button matTooltip="Adicionar nova comanda" [matTooltipPosition]="'right'"
  (click)="activeCommandCreate()" mat-menu-item>
  <mat-icon class="add">exposure_plus_1</mat-icon>
  <span class="titleMain">Adicionar</span>
</button>
<button matTooltip="Excluir comanda" [matTooltipPosition]="'right'"
  (click)="activeCommandDelete()" mat-menu-item>
  <mat-icon class="delete">delete_forever</mat-icon>
  <span class="titleMain">Excluir</span>
</button>
<button matTooltip="Listar comandas" [matTooltipPosition]="'right'"
  (click)="activeCommandList()" mat-menu-item>
  <mat-icon class="list">view_headline</mat-icon>
  <span class="titleMain">Listar</span>
</button>
<button matTooltip="Listar pedidos da comanda" [matTooltipPosition]="'right'"
  (click)="activeCommandOrderList()" mat-menu-item>
  <mat-icon class="update">search</mat-icon>
  <span class="titleMain">Comanda</span>
</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="menuFormOfPaymentCreate" matTooltip="Forma de pagamento"> <mat-icon
  class="icon">payment</mat-icon> <span class="user-type titleMain">
    Forma de pagamento
  </span></button>
<mat-menu #menuFormOfPaymentCreate="matMenu" class="custom">
<button matTooltip="Adicionar nova forma de pagamento" [matTooltipPosition]="'right'"
  (click)="activeFormOfPaymentCreate()" mat-menu-item>
  <mat-icon class="add">exposure_plus_1</mat-icon>
  <span class="titleMain">Adicionar</span>
</button>
<button matTooltip="Atualizar forma de pagamento" [matTooltipPosition]="'right'"
  (click)="activeFormOfPaymentUpdate()" mat-menu-item>
  <mat-icon class="update">sync</mat-icon>
  <span class="titleMain">Atualizar</span>
</button>
<button matTooltip="Excluir forma de pagamento" [matTooltipPosition]="'right'"
  (click)="activeFormOfPaymentDelete()" mat-menu-item>
  <mat-icon class="delete">delete_forever</mat-icon>
  <span class="titleMain">Excluir</span>
</button>
<button matTooltip="Listar formas de pagamento" [matTooltipPosition]="'right'"
  (click)="activeFormOfPaymentList()" mat-menu-item>
  <mat-icon class="list">view_headline</mat-icon>
  <span class="titleMain">Listar</span>
</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="menuPayment" matTooltip="Pagamento"> <mat-icon
  class="icon">paid</mat-icon><span class="user-type titleMain">
    Pagamento
  </span>
</button>
<mat-menu #menuPayment="matMenu" class="custom">
<button matTooltip="Adicionar novo pagamento" [matTooltipPosition]="'right'"
  (click)="activePaymentCreate()" mat-menu-item>
  <mat-icon class="add">exposure_plus_1</mat-icon>
  <span class="titleMain">Adicionar</span>
</button>
<button matTooltip="Listar pedidos" [matTooltipPosition]="'right'"
  (click)="activePaymentList()" mat-menu-item>
  <mat-icon class="list">view_headline</mat-icon>
  <span class="titleMain">Listar</span>
</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="menuOrder" matTooltip="Pedido"> <mat-icon
  class="icon">border_color</mat-icon><span class="user-type titleMain">
    Pedido
  </span>
</button>
<mat-menu #menuOrder="matMenu" class="custom">
<button matTooltip="Adicionar novo pedido" [matTooltipPosition]="'right'"
  (click)="activeOrderCreate()" mat-menu-item>
  <mat-icon class="add">exposure_plus_1</mat-icon>
  <span class="titleMain">Adicionar</span>
</button>
<button matTooltip="Atualizar pedido" [matTooltipPosition]="'right'"
  (click)="activeOrderUpdate()" mat-menu-item>
  <mat-icon class="update">sync</mat-icon>
  <span class="titleMain">Atualizar</span>
</button>
<button matTooltip="Excluir pedido" [matTooltipPosition]="'right'"
  (click)="activeOrderDelete()" mat-menu-item>
  <mat-icon class="delete">delete_forever</mat-icon>
  <span class="titleMain">Excluir</span>
</button>
<button matTooltip="Listar pedidos" [matTooltipPosition]="'right'"
  (click)="activeOrderList()" mat-menu-item>
  <mat-icon class="list">view_headline</mat-icon>
  <span class="titleMain">Listar</span>
</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="menuProfile" matTooltip="Perfil"> <mat-icon
  class="icon">account_box</mat-icon><span class="user-type titleMain">
    Perfil
  </span>
</button>
<mat-menu #menuProfile="matMenu" class="custom">
<button matTooltip="Adicionar novo perfil" [matTooltipPosition]="'right'"
  (click)="activeProfileCreate()" mat-menu-item>
  <mat-icon class="add">exposure_plus_1</mat-icon>
  <span class="titleMain">Adicionar</span>
</button>
<button matTooltip="Atualizar perfil" [matTooltipPosition]="'right'"
  (click)="activeProfileUpdate()" mat-menu-item>
  <mat-icon class="update">sync</mat-icon>
  <span class="titleMain">Atualizar</span>
</button>
<button matTooltip="Excluir perfil" [matTooltipPosition]="'right'"
  (click)="activeProfileDelete()" mat-menu-item>
  <mat-icon class="delete">delete_forever</mat-icon>
  <span class="titleMain">Excluir</span>
</button>
<button matTooltip="Listar perfis" [matTooltipPosition]="'right'"
  (click)="activeProfileList()" mat-menu-item>
  <mat-icon class="list">view_headline</mat-icon>
  <span class="titleMain">Listar</span>
</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="menuProduct" matTooltip="Produto"> <mat-icon
    class="icon">local_offer </mat-icon><span class="user-type titleMain">Produto</span></button>
<mat-menu #menuProduct="matMenu" class="custom">
  <button matTooltip="Adicionar novo produto" [matTooltipPosition]="'right'"
    (click)="activeProductCreate()" mat-menu-item>
    <mat-icon class="add">exposure_plus_1</mat-icon>
    <span class="titleMain">Adicionar</span>
  </button>
  <button matTooltip="Atualizar produto" [matTooltipPosition]="'right'"
    (click)="activeProductUpdate()" mat-menu-item>
    <mat-icon class="update">sync</mat-icon>
    <span class="titleMain">Atualizar</span>
  </button>
  <button matTooltip="Excluir produto" [matTooltipPosition]="'right'"
    (click)="activeProductDelete()" mat-menu-item>
    <mat-icon class="delete">delete_forever</mat-icon>
    <span class="titleMain">Excluir</span>
  </button>
  <button matTooltip="Listar produtos" [matTooltipPosition]="'right'"
    (click)="activeProductList()" mat-menu-item>
    <mat-icon class="list">view_headline</mat-icon>
    <span class="titleMain">Listar</span>
  </button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="menuUser" matTooltip="Usuário"> <mat-icon
  class="icon">supervised_user_circle</mat-icon> <span class="user-type titleMain">
    Usuário
  </span>
</button>
<mat-menu #menuUser="matMenu" class="custom">
<button matTooltip="Adicionar novo usuário" [matTooltipPosition]="'right'"
  (click)="activeUserCreate()" mat-menu-item>
  <mat-icon class="add">exposure_plus_1</mat-icon>
  <span class="titleMain">Adicionar</span>
</button>
<button matTooltip="Atualizar usuário" [matTooltipPosition]="'right'"
  (click)="activeUserUpdate()" mat-menu-item>
  <mat-icon class="update">sync</mat-icon>
  <span class="titleMain">Atualizar</span>
</button>
<button matTooltip="Excluir usuário" [matTooltipPosition]="'right'"
  (click)="activeUserDelete()" mat-menu-item>
  <mat-icon class="delete">delete_forever</mat-icon>
  <span class="titleMain">Excluir</span>
</button>
<button matTooltip="Listar usuários" [matTooltipPosition]="'right'"
  (click)="activeUserList()" mat-menu-item>
  <mat-icon class="list">view_headline</mat-icon>
  <span class="titleMain">Listar</span>
</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="menuAbout" matTooltip="Painel de controle"> <mat-icon
  class="icon">settings</mat-icon> <span class="user-type titleMain">
    Painel de controle
  </span>
</button>
<mat-menu #menuAbout="matMenu" class="custom">
<button matTooltip="Sobre nós" [matTooltipPosition]="'right'"
  (click)="activeAbout()" mat-menu-item>
  <mat-icon class="add">settings</mat-icon>
  <span class="titleMain">Sobre nós</span>
</button>
</mat-menu>