<div class="center">
  <ng-template [ngIf]="isIdZero" [ngIfElse]="isIdGreaterThanZero">
    <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        <caption></caption>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="titleUpdateCategory headerUpdateCategory">Categoria</th>
          <td mat-cell onblur="changeLoading();" (click)="getById(element.categoryId)" *matCellDef="let element" class="headerUpdateCategory">
            {{element.categoryName}}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row onblur="changeLoading();" (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
            *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </ng-template>

  <ng-template #isIdGreaterThanZero>
    <mat-card>
      <mat-card-content style="text-align: center;">Nome da categoria</mat-card-content>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Nome da categoria</mat-label>
          <input id="categoryName" name="categoryName" [(ngModel)]="categoryModel.categoryName" matInput>
        </mat-form-field>
      </form>
    </mat-card>
  </ng-template>

  <div class="wrapper">
    <section class="back_btn">
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <div class="example-label headerUpdateCategory">
              <div class="lbl-voltar">Voltar</div>
              <button mat-raised-button mat-mini-fab matTooltip="Voltar" (click)="reply()" onblur="changeLoading();"
                color="primary" aria-label="Example icon button with a menu icon">
                <mat-icon>reply_all</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="update_btn">
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <div class="example-label headerUpdateCategory">
              <div class="lbl-voltar">Atualizar</div>
              <button mat-raised-button mat-mini-fab matTooltip="Atualizar a categoria" (click)="update()" onblur="changeLoading();"
                color="primary" aria-label="Example icon button with a menu icon">
                <mat-icon>sync</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
