.center{
  padding-top: 40vh;
}
.wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.update_btn {
  padding-left: 5vh;
}

.labelToButtonDark{
  color: #1b1b1b;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
}

.lbl-voltar{
  font-weight: bold;
  font-style: oblique;
  color: darkmagenta;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

