.titleAddCategory{
  font-size: 1.475em;
  font-family: "Trirong", serif;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1em
}

.labelToButton{
  padding-right: 0.5rem;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 1rem;
    border: 2px solid #fff;
    width: 360px;
    max-height: 560px;
    overflow-y: auto;
    background-color: #1b1b1b65;
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 8px #000;
    border-radius: 8px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
    
  .example-label {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
      
  .example-flex-container {
    display: flex;
    justify-content: space-between;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  .example-button-container:hover {
    transform: scale(1.2);
  }

  .example-button {
    display: block;
    margin: 80px auto 400px;
  }
  
  .example-container {
    height: 200px;
    overflow: auto;
    border: 1px solid #ccc;
  }