<section class="center">
  <mat-card>
    <mat-card-content style="text-align: center;">Adicionar um novo produto</mat-card-content>
    <form class="example-form">
      <div class="line">
        <mat-form-field appearance="fill">
          <mat-label>Nome do novo produto</mat-label>
          <input matInput matTooltip="Nome do produto" placeholder="Nome da produto" id="nameProduct" name="nameProduct" [(ngModel)]="productModel.productName" matInput/>
        </mat-form-field>
        <div></div>
        <mat-form-field appearance="fill">
          <mat-label>Categoria</mat-label>
          <mat-select #matSelect matTooltip="Categoria" id="dropDownListCategory" name="dropDownListCategory" (selectionChange)="change($event.value)">
            <mat-option [value]="element" *ngFor="let element of dataSourceCategory">
              {{ element.categoryName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="line">
        <mat-form-field appearance="fill">
          <mat-label>Valor do custo</mat-label>
          <input matTooltip="Valor do custo do produto" matInput placeholder="Valor do preço de custo" id="costPrice" name="costPrice" matInput [(ngModel)]="productModel.costPrice" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',' }" (ngModelChange)="calculate()" />
        </mat-form-field>
        <div></div>
        <mat-form-field appearance="fill">
          <mat-label>Valor da venda</mat-label>
          <input matTooltip="Valor de venda do produto" matInput placeholder="Valor do preço de venda" id="salePrice" name="salePrice" matInput [(ngModel)]="productModel.salePrice" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',' }" (ngModelChange)="calculate()" />
        </mat-form-field>
      </div>
      <div class="line">
        <mat-form-field appearance="fill">
          <mat-label>Quantidade no estoque</mat-label>
          <input matTooltip="Quantidade no estoque" style="text-align: right;" id="quantityStock" name="quantityStock" matInput [(ngModel)]="productModel.quantityStock" type="number" (ngModelChange)="calculate()" />
        </mat-form-field>
        <div></div>
        <mat-form-field appearance="fill">
          <mat-label>Quantidade minima no estoque</mat-label>
          <input matTooltip="Quantidade minima no estoque" style="text-align: right;" matInput placeholder="Quantidade minimo no estoque" id="minimumStockQuantity" name="minimumStockQuantity" matInput [(ngModel)]="productModel.minimumStockQuantity" type="number" (ngModelChange)="calculateQuantityToBuy()"/>
        </mat-form-field>
      </div>
      <div class="line">
        <mat-form-field appearance="fill">
          <mat-label>Quantidade para comprar</mat-label>
          <input matTooltip="Quantidade para comprar" style="text-align: right;" matInput placeholder="Quantidade para compra" id="quantityToBuy" name="quantityToBuy" matInput [(ngModel)]="productModel.quantityToBuy" type="number" />
        </mat-form-field>
        <div></div>
        <mat-form-field appearance="fill">
          <mat-label>Valor para comprar</mat-label>
          <input matTooltip="Valor para comprar" style="text-align: right;" matInput placeholder="Valor para compra" id="totalValueOfLastPurchase" name="totalValueOfLastPurchase" matInput [(ngModel)]="productModel.totalValueOfLastPurchase"/>
        </mat-form-field>
      </div>
      <div class="line">
        <mat-form-field appearance="fill">
          <mat-label>Total custo</mat-label>
          <input matTooltip="Total custo" matInput placeholder="Valor do total preço de custo" id="totalPriceCost" name="totalPriceCost" matInput [(ngModel)]="productModel.totalValueCostOfInventory" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',' }" readonly/>
        </mat-form-field>
        <div></div>
        <mat-form-field appearance="fill">
          <mat-label>Total venda</mat-label>
          <input matTooltip="Total venda" matInput placeholder="Valor total do preço de venda" id="totalSalePrice" name="totalSalePrice" matInput [(ngModel)]="productModel.totalValueSaleStock" currencyMask  [options]="{ prefix: '', thousands: '.', decimal: ',' }" readonly/>
        </mat-form-field>

      </div>
        <div class="checkbox">
          <div>
            <mat-checkbox (click)="onClickNeedToPrint()" [checked]="needToPrint" class="example-margin" id="needToPrint" name="needToPrint" [(ngModel)]="needToPrint">Imprimir</mat-checkbox>
          </div>
          <div>
            <mat-checkbox (click)="onClickProductStatus()" [checked]="productStatus" class="example-margin" id="productStatus" name="productStatus" [(ngModel)]="productStatus">Ativo</mat-checkbox>
          </div>
        </div>
    </form>
    <div class="button-toggle-group-out">
      <mat-button-toggle-group class="button-toggle-group" name="menu-button" aria-label="Font Style">
        <mat-button-toggle style="border: none;" value="Voltar">Voltar
          <button mat-raised-button mat-mini-fab matTooltip="Voltar" (click)="reply()" color="primary" aria-label="Voltar">
            <mat-icon>reply_all</mat-icon>
          </button>
        </mat-button-toggle>
        <mat-button-toggle style="border: none;" value="Salvar">Salvar
          <button mat-raised-button mat-mini-fab matTooltip="Salvar novo produto" (click)="save()" color="primary" aria-label="Salvar">
            <mat-icon>save_alt</mat-icon>
          </button>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </mat-card>
</section>


