<section class="center">
  <mat-card>
    <mat-card-content style="text-align: center;">Adicionar uma nova categoria</mat-card-content>
    <form class="example-form">
      <mat-form-field appearance="fill" class="line">
        <mat-label>Nome do novo produto</mat-label>
        <input matInput placeholder="Nome da produto" id="nameProduct" name="nameProduct" [(ngModel)]="productModel.productName" matInput/>
      </mat-form-field>
      <mat-form-field appearance="fill" class="line">
        <mat-label>Categoria do produto</mat-label>
        <mat-select #matSelect id="dropDownListCategory" name="dropDownListCategory" (selectionChange)="change($event.value)">
          <mat-option [value]="element" *ngFor="let element of dataSourceCategory">
            {{ element.categoryName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="line">
        <mat-label>Valor do custo do Produto</mat-label>
        <input matInput placeholder="Valor do preço de custo" id="costPrice" name="costPrice" matInput [(ngModel)]="productModel.costPrice" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',' }" (ngModelChange)="calculate()" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="line">
        <mat-label>Valor da venda do produto</mat-label>
        <input matInput placeholder="Valor do preço de venda" id="salePrice" name="salePrice" matInput [(ngModel)]="productModel.salePrice" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',' }" (ngModelChange)="calculate()" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="line">
          <mat-label>Quantidade no estoque</mat-label>
          <input style="text-align: right;" id="quantityStock" name="quantityStock" matInput [(ngModel)]="productModel.quantityStock" type="number" (ngModelChange)="calculate()" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="line">
          <mat-label>Quantidade minima no estoque</mat-label>
          <input style="text-align: right;" matInput placeholder="Quantidade minimo no estoque" id="minimumStockQuantity" name="minimumStockQuantity" matInput [(ngModel)]="productModel.minimumStockQuantity" type="number" />
        </mat-form-field>
      <mat-form-field appearance="fill" class="line">
          <mat-label>Total custo</mat-label>
          <input matInput placeholder="Valor do total preço de custo" id="totalPriceCost" name="totalPriceCost" matInput [(ngModel)]="productModel.totalValueCostOfInventory" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',' }" readonly/>
        </mat-form-field>
        <mat-form-field appearance="fill" class="line">
          <mat-label>Total venda</mat-label>
          <input matInput placeholder="Valor total do preço de venda" id="totalSalePrice" name="totalSalePrice" matInput [(ngModel)]="productModel.totalValueSaleStock" currencyMask  [options]="{ prefix: '', thousands: '.', decimal: ',' }" readonly/>
        </mat-form-field>
        <div class="checkbox">
          <div>
            <mat-checkbox class="example-margin" id="needToPrint" name="needToPrint" [(ngModel)]="needToPrint">Imprimir</mat-checkbox>
          </div>
          <div>
            <mat-checkbox class="example-margin" id="productStatus" name="productStatus" [(ngModel)]="productStatus">Ativo</mat-checkbox>
          </div>
        </div>
    </form>
    <div class="wrapper">
      <div>
        <div>Voltar</div>
        <button mat-raised-button mat-mini-fab matTooltip="Voltar" (click)="reply()" color="primary" aria-label="Voltar">
          <mat-icon>reply_all</mat-icon>
        </button>
      </div>
    <div>
    </div>
      <div>
        <div>Salvar</div>
        <button mat-raised-button mat-mini-fab matTooltip="Salvar nova categoria" (click)="save()" color="primary" aria-label="Salvar">
          <mat-icon>save_alt</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>
</section>


