.center{
  padding-top: 5vh;
}
.wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: grid;
  grid-template-columns: 5vh 5vh 5vh;
}
.checkbox{
  display: block;
  margin-left: 1vh;
  margin-right: auto;
  width: 50%;
  display: grid;
  grid-template-columns: 20vh 20vh;
}
.line {
  display: block;
  margin-left: 1vh;
  margin-right: auto;
  width: 50%;
  display: grid;
  grid-template-columns: 20vh 5vh 20vh;
}
.card{
  height: 52vh;
  width: 40vh;
}

.lbl-voltar{
  font-weight: bold;
  font-style: oblique;
  color: darkmagenta;
  padding-top: 1vh;
  padding-bottom: 1vh;
}