.center{
  padding-top: 25vh;
}

.btn-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: grid;
  grid-template-columns: 5vh 5vh 5vh;
}