<div class="container">
  <p class="titleUpdateBuyer">
    Atualizar
  </p>
  <ng-template [ngIf]="isIdZero" [ngIfElse]="isIdGreaterThanZero">
    <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        <caption>Cliente</caption>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>
            <div class="headerUpdateBuyer">Nome</div>
          </th>
          <td mat-cell (click)="getById(element.buyerId)" *matCellDef="let element">
            <div class="headerUpdateBuyer">{{element.buyerName}}</div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
            *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </ng-template>

  <ng-template #isIdGreaterThanZero>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nome do cliente</mat-label>
        <input id="clientName" name="clientName" [(ngModel)]="buyerModel.buyerName" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Telefone</mat-label>
        <input id="buyerPhone" name="buyerPhone" [(ngModel)]="buyerModel.buyerPhone" matInput mask='00 00000-0000' placeholder="DDD + numero de telefone"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Endereço</mat-label>
        <input id="buyerAddress" name="buyerAddress" [(ngModel)]="buyerModel.buyerAddress" matInput />
      </mat-form-field>
    </div>
  </ng-template>

  <div class="btns">
    <section class="back_btn">
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <div class="example-label headerUpdateBuyer">
              <div class="labelToButton">Voltar</div>
              <button mat-raised-button mat-mini-fab matTooltip="Voltar" (click)="reply()"
                color="primary" aria-label="Example icon button with a menu icon">
                <mat-icon>reply_all</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="update_btn">
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <div class="example-label titleUpdateBuyer">
              <div class="labelToButton">Atualizar</div>
              <button mat-raised-button mat-mini-fab matTooltip="Atualizar cliente" (click)="update()"
                color="primary" aria-label="Example icon button with a menu icon">
                <mat-icon>sync</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
