.center{
  padding-top: 25vh;
}
.wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.line {
  display: block;
  margin-left: 1vh;
  margin-right: auto;
  width: 50%;
}
.card{
  height: 52vh;
  width: 35vh;
}

.button-toggle-group-out{
  display: block;
  margin-left: 1vh;
  margin-right: auto;
  width: 50%;
}
.button-toggle-group{
  border: none;
}