.center{
  padding-top: 25vh;
}
.formGrid{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.button-toggle-group-out{
  display: block;
  margin-left: 1vh;
  margin-right: auto;
  width: 50%;
}
.button-toggle-group{
  border: none;
}
.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}

.mdc-text-field__input::-webkit-calendar-picker-indicator {
  display: block !important;
}
.dateAndTimeEntry{
  text-align: center; 
  width: 50%;
  font-size: 125%;
  color: white;
}