<section class="center">
  <mat-card style="width: 35vh;">
    <mat-card-content>Adicionar um novo veículo</mat-card-content>
    <form class="example-form">
      <mat-form-field appearance="fill">
        <mat-label>Tipo do veículo</mat-label>
        <mat-select #matSelect id="dropDownListVehicleType" 
        name="dropDownListVehicleType" 
        [(ngModel)]="vehicleModel.vehicleTypeName" 
        (selectionChange)="changeVehicleType($event.value)" required>
          <mat-option [value]="element" *ngFor="let element of dataSourceVehicleType" >
            {{ element.vehicleTypeId }} - {{ element.vehicleTypeName }}
           </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Marca do veículo</mat-label>
        <mat-select #matSelect id="dropDownListVehicleBrand" 
        name="dropDownListVehicleBrand" 
        [(ngModel)]="vehicleModel.vehicleBrandName" 
        (selectionChange)="changeVehicleBrand($event.value)" required>
          <mat-option [value]="element" *ngFor="let element of dataSourceVehicleBrand" >
            {{ element.vehicleBrandId }} - {{ element.vehicleBrandName }}
           </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Modelo do veículo</mat-label>
        <mat-select #matSelect id="dropDownListVehicleModel" 
        name="dropDownListVehicleModel" 
        [(ngModel)]="vehicleModel.vehicleModelName" 
        (selectionChange)="changeVehicleModel($event.value)" required>
          <mat-option [value]="element" *ngFor="let element of dataSourceVehicleModel" >
            {{ element.vehicleModelId }} - {{ element.vehicleModelName }}
           </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Cor do veículo</mat-label>
        <mat-select #matSelect id="dropDownListVehicleColor" 
        name="dropDownListVehicleColor" 
        [(ngModel)]="vehicleModel.vehicleColorName" 
        (selectionChange)="changeVehicleColor($event.value)" required>
          <mat-option [value]="element" *ngFor="let element of dataSourceVehicleColor" >
            {{ element.vehicleColorId }} - {{ element.vehicleColorName }}
           </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-grid-list cols="1" rowHeight="5vh">
        <mat-grid-tile>
          <mat-form-field style="width: 100%;" class="example-full-width">
            <mat-label>Placa do veículo</mat-label>
            <input matInput placeholder="Placa do veículo" id="plate" 
            name="plate" [(ngModel)]="vehicleModel.plate" matInput required/>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-form-field style="width: 100%;" class="example-full-width">
        <mat-label>Data e hora da entrada</mat-label>
        <input class="dateAndTimeEntry" matInput id="entryDate" name="entryDate" [formControl]="entryDate">
        <input class="dateAndTimeEntry" matInput id="entryTime" name="entryTime" [formControl]="entryTime">
      </mat-form-field>
    </form>
    <div class="button-toggle-group-out">
      <mat-button-toggle-group class="button-toggle-group" name="menu-button" aria-label="Font Style">
        <mat-button-toggle style="border: none;" value="Voltar">Voltar
          <button mat-raised-button mat-mini-fab matTooltip="Voltar" (click)="reply()" color="primary" aria-label="Voltar">
            <mat-icon>reply_all</mat-icon>
          </button>
        </mat-button-toggle>
        <mat-button-toggle style="border: none;" value="Salvar">Salvar
          <button mat-raised-button mat-mini-fab matTooltip="Salvar novo veiculo" (click)="save()" color="primary" aria-label="Salvar">
            <mat-icon>save_alt</mat-icon>
          </button>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </mat-card>
</section>
