<section class="center">
  <mat-card style="width: 35vh;">
    <mat-card-content>Adicionar um novo veículo</mat-card-content>
    <form class="example-form">
      <mat-grid-list cols="1" rowHeight="5vh">
        <mat-grid-tile>
          <mat-form-field style="width: 100%;" class="example-full-width">
            <mat-label>Placa do veículo</mat-label>
            <input matInput placeholder="Placa do veículo" id="plate" 
            name="plate" [(ngModel)]="vehicleModel.plate" matInput />
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
    <div class="wrapper">
      <div>
        <div>Voltar</div>
        <button mat-raised-button mat-mini-fab matTooltip="Voltar" 
          (click)="reply()" color="primary" aria-label="Voltar">
          <mat-icon>reply_all</mat-icon>
        </button>
      </div>
    <div>
    </div>
      <div>
        <div>Salvar</div>
        <button mat-raised-button mat-mini-fab matTooltip="Salvar novo veículo"
          (click)="save()" color="primary" aria-label="Salvar">
          <mat-icon>save_alt</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>
</section>
