.center{
  padding-top: 25vh;
}
.formGrid{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}