<section>
  <mat-form-field appearance="fill">
    <mat-label>Nome do novo cliente</mat-label>
    <input id="buyerName" name="buyerName" [(ngModel)]="buyerModel.buyerName" matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Telefone</mat-label>
    <input id="buyerPhone" name="buyerPhone" [(ngModel)]="buyerModel.buyerPhone" matInput mask='00 00000-0000' placeholder="DDD + numero de telefone"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Endereço</mat-label>
    <input id="buyerAddress" name="buyerAddress" [(ngModel)]="buyerModel.buyerAddress" matInput />
  </mat-form-field>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <div class="example-label">
          Voltar
          <button
            mat-raised-button
            mat-mini-fab
            matTooltip="Voltar"
            (click)="reply()"
            color="primary"
            aria-label="Example icon button with a menu icon"
          >
            <mat-icon>reply_all</mat-icon>
          </button>
        </div>
      </div>
      <div class="example-button-container">
        <div class="example-label">
          Salvar
          <button
            mat-raised-button
            mat-mini-fab
            matTooltip="Salvar novo cliente"
            (click)="save()"
            color="primary"
            aria-label="Example icon button with a menu icon"
          >
            <mat-icon>save_alt</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
