<section class="center">
  <mat-card>
    <mat-card-content style="text-align: center;">Adicionar um novo cliente</mat-card-content>
    <form class="example-form">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Nome do cliente</mat-label>
        <span class="tooltip" data-tooltip="Nome do cliente">
          <input matInput placeholder="Nome do cliente" id="buyerName" name="buyerName" 
          [(ngModel)]="buyerModel.buyerName" 
          onblur="ValidateBuyerName();" 
          onkeypress="return LettersOnlyBuyerName(event);" 
          onkeydown="return OnlyFirstCapitalLetterBuyerName(event);"  matInput />
        </span>
        <mat-icon id="validationIconBuyerName" matSuffix></mat-icon>
        <span id="validationTextBuyerName"></span>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Telefone</mat-label>
        <span class="tooltip" data-tooltip="Telefone">
        <input matInput placeholder="Telefone do cliente" id="buyerPhone" 
        name="buyerPhone" [(ngModel)]="buyerModel.buyerPhone" 
        onblur="ValidateBuyerPhone();" 
        onkeypress="return NumbersOnlyBuyerPhone(event);" 
        matInput mask='00 00000-0000' placeholder="DDD + numero de telefone"/>
        </span>
        <mat-icon id="validationIconBuyerPhone" matSuffix></mat-icon>
        <span id="validationTextBuyerPhone"></span>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Endereço</mat-label>
        <span class="tooltip" data-tooltip="Endereço">
          <input matInput placeholder="Endereço do cliente" id="buyerAddress" 
          name="buyerAddress" 
          onblur="ValidateBuyerAddress();" 
          onkeypress="return LettersOnlyBuyerAddress(event);" 
          onkeydown="return OnlyFirstCapitalLetterBuyerAddress(event);" 
          [(ngModel)]="buyerModel.buyerAddress" matInput />
        </span>
        <mat-icon id="validationIconBuyerAddress" matSuffix></mat-icon>
        <span id="validationTextBuyerAddress"></span>
      </mat-form-field>
    </form>
    <div class="button-toggle-group-out">
      <mat-button-toggle-group class="button-toggle-group" name="menu-button" aria-label="Font Style">
        <mat-button-toggle style="border: none;" value="Voltar">Voltar
          <button mat-raised-button mat-mini-fab matTooltip="Voltar" onblur="changeLoading();" (click)="reply();" color="primary" aria-label="Voltar">
            <mat-icon>reply_all</mat-icon>
          </button>
        </mat-button-toggle>
        <mat-button-toggle style="border: none;" value="Salvar">Salvar
          <button mat-raised-button mat-mini-fab matTooltip="Salvar novo cliente" onblur="changeLoading();" (click)="save()" color="primary" aria-label="Salvar">
            <mat-icon>save_alt</mat-icon>
          </button>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </mat-card>
</section>
