.center{
  padding-top: 5vh;
}
.wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.checkbox{
  display: block;
  margin-left: 1vh;
  margin-right: auto;
  width: 50%;
}
.line {
  display: block;
  margin-left: 1vh;
  margin-right: auto;
  width: 50%;
}
.card{
  height: auto;
  width: auto;
}
.update_btn{
  padding-left: 5vh;
  font-weight: bold;
  font-style: oblique;
  color: darkmagenta;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.lbl-voltar{
  font-weight: bold;
  font-style: oblique;
  color: darkmagenta;
  padding-top: 1vh;
  padding-bottom: 1vh;
}