<section class="center">
  <mat-card>
    <mat-card-content>Adicionar um novo perfil</mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Nome do novo perfil</mat-label>
        <input matInput placeholder="Nome do perfil" id="nameProfile" name="nameProfile" [(ngModel)]="profileModel.profileName" matInput>
      </mat-form-field>
    </form>
    <div class="wrapper">
      <div>
        <div>Voltar</div>
        <button mat-raised-button mat-mini-fab matTooltip="Voltar" (click)="reply()" color="primary" aria-label="Voltar">
          <mat-icon>reply_all</mat-icon>
        </button>
      </div>
    <div>
    </div>
      <div>
        <div>Salvar</div>
        <button mat-raised-button mat-mini-fab matTooltip="Salvar nova categoria" (click)="save()" color="primary" aria-label="Salvar">
          <mat-icon>save_alt</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>
</section>
