<section class="center">
  <mat-card style="width: 35vh;">
    <mat-card-content>Adicionar um nova cor do veículo</mat-card-content>
    <form class="example-form">
      <mat-grid-list cols="1" rowHeight="5vh">
        <mat-grid-tile>
          <mat-form-field style="width: 100%;" class="example-full-width">
            <mat-label>Nome da nova cor do veículo</mat-label>
            <input matInput placeholder="Nome da cor do veículo" id="vehicleColorName" name="vehicleColorName" [(ngModel)]="vehicleColorModel.vehicleColorName" matInput />
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
    <div class="button-toggle-group-out">
      <mat-button-toggle-group class="button-toggle-group" name="menu-button" aria-label="Font Style">
        <mat-button-toggle style="border: none;" value="Voltar">Voltar
          <button mat-raised-button mat-mini-fab matTooltip="Voltar" onblur="changeLoading();" (click)="reply()" color="primary" aria-label="Voltar">
            <mat-icon>reply_all</mat-icon>
          </button>
        </mat-button-toggle>
        <mat-button-toggle style="border: none;" value="Salvar">Salvar
          <button mat-raised-button mat-mini-fab matTooltip="Salvar nova cor de veiculo" onblur="changeLoading();" (click)="save()" color="primary" aria-label="Salvar">
            <mat-icon>save_alt</mat-icon>
          </button>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </mat-card>
</section>
