body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  .mat-app-background {
    background-size: cover;
  }

  #overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#load {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}

body.before:before {
  background: red;
}