<div class="center">
  <ng-template [ngIf]="isIdZero" [ngIfElse]="isIdGreaterThanZero">
    <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        <caption>
          Usuário
        </caption>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Nome dos usuários</th>
          <td mat-cell (click)="getById(element.userId)" *matCellDef="let element">
            {{element.userName}}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
            *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </ng-template>

  <ng-template #isIdGreaterThanZero>
      <mat-card class="card">
        <mat-card-content style="text-align: center;">Adicionar um novo usuário</mat-card-content>
        <form class="example-form">
          <mat-form-field class="line" appearance="fill">
            <mat-label>Nome da novo usuário</mat-label>
            <input matInput placeholder="Nome do usuário" id="userName" name="userName" matInput [(ngModel)]="userModel.userName">
          </mat-form-field>
          <mat-form-field class="line" appearance="fill">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Senha" id="userPassword" name="userPassword" matInput [(ngModel)]="userModel.userPassword" [type]="showPassword ? 'text' : 'password'">
            <mat-icon style="padding-left: 1vh;" matSuffix (click)="showPassword = !showPassword">{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
          <mat-form-field class="line" appearance="fill">
            <mat-label>Perfil do novo usuário</mat-label>
            <mat-select #matSelect id="dropDownListProfile" name="dropDownListProfile">
              <mat-option [value]="element" *ngFor="let element of dataSource">
                {{ element.profileName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </mat-card>
  </ng-template>

  <div class=" btn-center">
    <section class="back_btn">
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <div class="example-label headerUpdateCategory">
              <div class="labelToButton">Voltar</div>
              <button mat-raised-button mat-mini-fab matTooltip="Voltar" onblur="changeLoading();" (click)="reply()"
                color="primary" aria-label="Example icon button with a menu icon">
                <mat-icon>reply_all</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="update_btn">
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <div class="example-label headerUpdateCategory">
              <div class="labelToBButton">Atualizar</div>
              <button mat-raised-button mat-mini-fab matTooltip="Atualizar categoria" onblur="changeLoading();" (click)="update()"
                color="primary" aria-label="Example icon button with a menu icon">
                <mat-icon>sync</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
