.center{
  padding-top: 30vh;
}
.wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: grid;
  grid-template-columns: 25vh;
}
.checkbox{
  display: block;
  margin-left: 1vh;
  margin-right: auto;
  width: 50%;
  display: grid;
  grid-template-columns: 20vh 20vh;
}
.line {
  display: block;
  margin-left: 1vh;
  margin-right: auto;
  width: 50%;
  display: grid;
  grid-template-columns: 25vh;
}

.line-button {
  display: block;
  margin-left: 1vh;
  margin-right: auto;
  width: 50%;
  display: grid;
  grid-template-columns: 25vh 5vh 25vh;
}

.card{
  height: 35vh;
  width: 39vh;
}

.lbl-voltar{
  font-weight: bold;
  font-style: oblique;
  color: darkmagenta;
  padding-top: 1vh;
  padding-bottom: 1vh;
}