<section>
  <p class="titleAddCommand">
    Adicionar uma nova comanda
  </p>
  <mat-grid-list cols="4" rowHeight="50px" gutterSize="15px">
    <mat-grid-tile colspan="3">
      <mat-form-field appearance="fill">
        <mat-label>Cliente</mat-label>
        <mat-select #matSelect id="dropDownListBuyer" name="dropDownListBuyer" (selectionChange)="changeBuyerToCommand($event.value)">
          <mat-option [value]="element" *ngFor="let element of dataSourceBuyer">
            {{ element.buyerName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">  
      <button mat-mini-fab color="primary" 
              aria-label="Example icon button with a menu icon" 
              (click)="saveBuyerToCommand()">
        <mat-icon>save_alt</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
      <p class="titleAddCommand">Número da comanda: {{commandModel.commandId}}</p>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
      mat-raised-button
      mat-mini-fab
      matTooltip="Voltar"
      (click)="reply()"
      color="primary"
      aria-label="Example icon button with a menu icon">
      <mat-icon>reply_all</mat-icon>
    </button>  
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>


</section>

